# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
.env
.venv
venv/
ENV/

# macOS
.DS_Store

# Pytest cache
.pytest_cache/

# IDEs
.vscode/
.idea/

*.egg-info/

tasks.db

manual_eval

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
src/emailinator/templates/env.js
